@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject MSASignInManager signInManager ;

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn())
    {
        <li class="nav-item">

            <a class="nav-link text-dark" title="Manage">Hello @signInManager.UserName</a>

        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="login">Login</a>
        </li>
    }
</ul>  